{deps, [
       {lager, "3.2.1"},
       {eleveldb, ".*", {git, "git://github.com/SyncFree/eleveldb", {branch, "antidote_comparator"}}},
       {antidote_utils, ".*", {git, "git://github.com/SyncFree/antidote_utils", {branch, "additions_for_antidote_db"}}}
]}.


{plugins, [rebar3_proper]}.

{profiles,
       [{test, [{deps, [{proper, "1.1.1-beta"}]}]}]
}.